:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --additional-color: #f5f4fa;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.list {
  list-style: none;
}

/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-accent {
  color: #000000;
}

.logo-accent:hover {
  color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: #212121;
}

.btn {
  font-size: 16px;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.btn:hover,
.btn:focus {
  background-color: var(--title-text-color);
}

/* Sections */

.benefits-list .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.heading {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-team .title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.section-team .description {
  font-size: 16px;
  line-height: 1.19;
}

/* Footer */

.footer {
  background-color: var(--primary-text-color);
}

.footer .logo-accent {
  color: var(--primary-white-color);
}

.footer .logo-accent:hover {
  color: var(--accent-color);
}

.address {
  font-style: normal;
}
.footer-list .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-list .link.address {
  color: var(--primary-white-color);
}

.footer-list .link:hover,
.footer-list .link:focus {
  text-decoration: underline;
}

/* Portfolio */

.button-list .list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--primary-text-color);
  background-color: var(--additional-color);
}

.button-list .list.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button-list .list:hover,
.button-list .list:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio-list .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list .description {
  font-size: 16px;
  line-height: 1.88;
}
